$color-prim: #FF3366;
$color-sec: #33FFB7;
$color-td: #FF7533;
$color-prim-dark:#A61136; // 166, 17, 54
$color-sec-dark: #11A671;
$color-dark: #231f20;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    color: white;
    //font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
}

h1,
h2 {
    font-family: 'Sansita Swashed', cursive;
}

a {
    text-decoration: none;
    transition: 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    color: white;

    &:hover {
        color: $color-prim;
    }

    &:visited {
        color: $color-prim-dark;
    }
}

p {
    text-indent: 1.5em;
}

/* --------- Common ---------  */
.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

.hr {
    border: 0;
    height: 3px;
    background: $color-prim;
    background: linear-gradient(90deg, rgba($color-prim, 1), rgba($color-sec, 1) 100%);

    &--light {
        height: 1px;
        opacity: 0.7;
    }
}

.hrb {
    border: 0;
    height: 3px;
    background: $color-sec;
    background: linear-gradient(90deg, white, $color-sec);
}

/* --------- Nav ---------  */
.nav {
    background-color: rgba($color-dark, 0.75);
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
    transition: all 0.2s linear;
    display: flex;
    justify-content: space-between;
    align-items: center;
    //  border-bottom: solid 2px $color-sec;
    box-shadow: 0 3px 3px rgba($color-sec-dark, 0.2);

    &__item {
        padding: 6px;
    }

    &__logo {
        margin: 0;
        user-select: none;
        text-align: center;
    }

    &__ul {
        display: flex;
        list-style: none;
        margin: 0;

        &-li {
            margin: 0 2em 0 0;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__link {
        display: block;
        font-size: 1.15em;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
    }

    &__info {
        margin: 0;
        color: $color-td;
        user-select: none;
        font-size: 1.15em;
        font-weight: bold;
        text-align: center;
    }

    &:hover {
        background-color: $color-dark;
    }
}

/* --------- BG ---------  */
.intro {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;

    &__bg {
        height: 100%;
        width: 100%;
        background-image: url(../img/nastya.jpg);
        background-repeat: no-repeat;
        /* bug: при скорле браузера с background-attachment: fixed; сверху видно body */
        background-attachment: fixed;
        background-position: 50% 20%;
        background-size: cover;
        animation: anime 8s linear infinite alternate;
    }

    &__gradient {
        width: 100%;
        height: 100%;
        background: linear-gradient(rgba(0, 0%, 0%, 0.4), rgba($color-prim-dark, 0.4) 85%, $color-prim-dark);
        position: absolute;
        bottom: 0;
    }

    &__container {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__btn {
        opacity: 0.5;
        animation: beat 1.4s infinite alternate;

        &:hover {
            cursor: pointer;
        }
    }

    &__arrow::before {
        content: "";
        position: relative;
        right: -44px;
        top: 76px;
        opacity: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-top: 20px solid white;
        animation: beat2 1.8s infinite;
        transition: all;
    }
}

/* --------- Main ---------  */
.container {
    background: $color-prim-dark;
    background: linear-gradient($color-prim-dark, $color-sec-dark, black);
    padding: 16vh 8vh 4vh 8vh;

    &__inner {
        display: grid;
        grid-gap: 50px;
        grid-template-columns: 1fr 1fr;
        // align-items: start;
        // justify-content: center;
        // justify-items: center;
        max-width: 1024px;
        margin: 0 auto;
    }

    &__card {
        background-color: $color-dark;
        padding: 4vh;
        border-radius: 12px;

        &--prim {
            background-color: $color-prim;
            grid-column: 1 / 3;
        }
    }

    &__header {
        text-align: center;
        margin-top: 0;
    }

    &__info {
        display: flex;
        align-items: center;

        &-img {
            width: 26px;
            margin-right: 1em;
        }
    }

    &__ul {
        padding-left: 24px;
        margin-bottom: 0;

        &-li {
            margin-bottom: 0.75em;

            &:last-child {
                margin: 0;
            }
        }
    }

    &__tip {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}

// Footer
.author {
    display: block;
    text-align: center;
    padding: 10px 0;
}

footer {
    background-color: black;
}

// Media 
@media only screen and (max-width: 900px) {
    .nav {

        &__item {
            padding: 4px;
        }

        &__logo {}

        &__ul {
            &-li {
                margin: 0 0.8em 0 0;
            }
        }

        &__link {
            font-size: 1em;
        }

        &__info {
            font-size: 1em;
        }
    }

    .container {
        &__inner {
            grid-template-columns: 1fr;
        }

        &__card {
            &--prim {
                grid-column: 1;
            }
        }
    }
}